html,
body {
    height: 100%;
    direction: rtl;
    text-align: right;
    font-family: 'IranSansZ', Tahoma, Arial, sans-serif;
    /*background-image: url("../img/bg2.jpg");*/
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}

input[type="email"],
input[type="tel"],
input[type="url"],
.ltr {
    direction: ltr;
    text-align: left;
}

.site-brand {
    margin-right: 15px;
    margin-left: 0;
}

.breadcrumb,
.pagination,
.dropdown-content,
.collection,
.table,
table,
th,
td,
label,
.help-block,
.alert,
.modal-content {
    direction: rtl;
    text-align: right;
}

.pull-right {
    float: left !important;
}

.pull-left {
    float: right !important;
}

a{
    text-decoration: none !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    /*padding: 0 0 60px;*/
}

.wrap > .container {
    /*padding: 70px 15px 20px;*/
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-right: 3px solid #eed3d7;
    border-left: 0;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: inherit !important;
}

a.scroll-to-top-link {
    bottom: 50px !important;
    right: 40px;

}
#scroll-to-top {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    z-index: 1000;
    display: none;
    width: 3rem;
    height: 3rem;
    border: 0;
    border-radius: 50%;
    color: #fff;
    background: #333;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: .8;
}

#scroll-to-top.is-visible {
    display: block;
}

#scroll-to-top:hover,
#scroll-to-top:focus {
    opacity: 1;
}
